.page {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  font-weight: 400;
  background-color: @background-grey;
  &__body-wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
}