.page-header {
  &__top {
    margin-top: 28px;
    margin-left: 35px;
    display: flex;
    align-items: center;
  }
  &__servers-list {
    display: flex;
    margin-right: 66px;
  }
  &__servers-item {
    margin-right: 20px;
  }
}